<div>
    <ul>
        <h2>Contact</h2>

        <li><a href="mailto:skaothic@gmail.com"><i class="fa fa-envelope"></i>Envoyer moi un mail</a></li>
        <li><a href="https://api.whatsapp.com/send?phone=0628348159"><i class="fa fa-whatsapp"></i>Contact Whatsapp direct</a></li>
        <li><i class="fa fa-phone"></i>06.28.34.81.59</li>
        <li><a href="https://github.com/skaothic"><i class="fa fa-github"></i>GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/herv%C3%A9-launoy-0a88381ab?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B%2BxICyXdBSLS4075LJz%2BVnA%3D%3D"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
        <li><a href="https://skaothic.github.io/CV/Herve_LAUNOY_CV.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>Mon CV</a></li>
    </ul>
    <img src="(../../assets/contactez-nous-personnes-du-service-assistance-clientele-connect-appelez-assistance-clientele_36325-2023.jpg" alt="Photo contact">
</div>