div {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(../../assets/contactez-nous-personnes-du-service-assistance-clientele-connect-appelez-assistance-clientele_36325-2023.jpg);
}

li {
    text-decoration: none;
}