<div>
    <h2>Contact</h2>
    <ul>
        <li><a href="mailto:skaothic@gmail.com">Envoyer moi un mail</a></li>
        <li><a href="https://api.whatsapp.com/send?phone=0628348159">Contact Whatsapp ou téléphone 06.28.34.81.59</a></li>
        <li><a href="https://github.com/skaothic">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/herv%C3%A9-launoy-0a88381ab?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B%2BxICyXdBSLS4075LJz%2BVnA%3D%3D">LinkedIn</a></li>
        <li><a href="https://skaothic.github.io/CV/Herve_LAUNOY_CV.pdf" target="_blank">Mon CV</a></li>
    </ul>
</div>