.mapouter {
    position: relative;
    text-align: center;
    height: 400px;
    width: 50%;
    ;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    width: 100%;
    ;
}

main {
    display: flex;
    @media(max-width: 1200px) {
        flex-direction: column;
        .mapouter {
            width: 100%;
        }
    }
}

.summary {
    width: 80%;
}