.mapouter {
    position: relative;
    text-align: center;
    height: 400px;
    width: 50%;
    ;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    width: 100%;
    ;
}

main {
    display: flex;
}

.summary {
    width: 80%;
}