/* You can add global styles to this file, and also import other style files */

html {
    background-color: #F2F1EE;
}

a {
    text-decoration: none;
    color: black;
}

html,
body {
    height: fit-content;
}

body {
    margin: 2%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    max-width: 1500px;
    @media (min-width: 1500px) {
        margin: 2% auto
    }
}

li {
    list-style: none;
}