<main id="home">
    <section>
        <form class="searchBox" [formGroup]="travelForm" (ngSubmit)="submit()">
            <div class="cities">
                <input type="text" list="departure" placeholder="Départ" formControlName="departure" (change)="getPopArrival($event)" (keyup)="search($event)">
                <datalist id="departure">
                    <option *ngFor="let c of results" [value]="c.unique_name">{{c.local_name}}</option>
                    </datalist>
                <input type="text" list="popularArrival" placeholder="Arrivée" formControlName="arrival" (keyup)="searchArrival($event)">
                <datalist id="popularArrival">
                    <option *ngFor="let a of Arrival" [value]="a.unique_name">{{a.local_name}}</option>
                </datalist>
            </div>
            <div class="date">
                <input type="date" formControlName="date" [min]="today | date:'yyyy-MM-dd'">
                <input type="time" formControlName="hour">
            </div>
            <button type="submit" [disabled]="!travelForm.valid">Validez pour voir les détails</button>
        </form>
    </section>
</main>